.chat-container {
    display: flex;
    justify-content: right;
    position: sticky;
    align-items: flex-end;
    background-color: antiquewhite;
    opacity: 0.85;
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 4em;
    height: 1000px;
    width: 600px;
    width: fit-content;
    height: fit-content;
}

.chat-form {
    display: flex;
    justify-content: right;
    position: sticky;
    align-items: flex-end;
    background-color: antiquewhite;
    opacity: 0.85;
    border: solid black 2px;
    border-radius: 10px;
    box-shadow: 4em;
    height: 1000px;
    width: 600px;
}
body {
    background-image: url('../assets/dog_chat_placeholder.png');
    display: flex;
    justify-content: center;

}