header {
    justify-content: flex-start;
    align-items: flex-start;
    height: 80px;
    top: 1px;
    box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    display: flex;
    height: 100%;
    background-color:#EBCCFF;
}

nav {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    color: var(--text-color);
    background-image: url('../assets/pet-background.PNG');
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.users-container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: 0.8em;
    display: flex;
    justify-content: flex-end;
    background-color: #EBCCFF
}