.web-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  margin-bottom: 50px;
  font-family: 'Titillium Web';
  font-size: 80px;
    color: #97C4B8;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    
}

.signup-body {
  background-image: url("../assets/pet-background.PNG");
}

#auth-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
  color: #F9F3EE; 
  background-color: #97C4B8;
  border-radius: 15px;
}

.signin-button {
  margin-top: 10px;
  height: 45px;
  background: #F9F3EE;
  border: 0;
  font-weight: bold;
  color: #97C4B8;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 2rem;
  color: #957DAD;
  background:#FEC8D8;
  width: 25%;
  margin: auto;
}

.tos-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 1.3rem;
  color: #957DAD;
  background-color: #FEC8D8;
  background-position: center center;
  text-align: center;
  width: 700px;
  height: 320px;
  margin: auto;
  border-radius: 15px;

}

.accept{
  background-color: #957DAD;
  color: #FEC8D8;
  font-size: 1.5rem;
  border: 2px solid black;
  margin-bottom: 15px;
}